
/* navbar start here */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 85px;
    display: flex;
    border-bottom: 1px solid rgb(190, 187, 187);
}
.navbar .logo{
    width: 10%;
    text-align: left;
    height: 50px;
    margin-top: 10px;
    margin-left: 5px;
}
.logo img{
    width: 80%;
    margin-left: 10px;
}
.menu{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 12px;
    font-family: serif;
}

.active, .wdc-btn a:hover{
    color:#20A87E;
}

.nav-icon .fa{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 30px;
    cursor: pointer;
}
.bars{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.nav-icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 17px;
}
.nav-icon a{
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
}
.wdc-btn a{
    color: black;
    text-decoration: none;
    font-size: 700;
}
.sales a{
    color: red;
}
.dropdown .hour-sub-menu a{
    display: block;
    line-height: 1.5;
    color: black;
    text-decoration: none;
    /* width: 30%; */
    border-right: 1px solid grey;
}
.dropdown{
    display: none;
    position: absolute;
    z-index: 1 ;
    width: 130%;
    height: auto;
    padding: 20px;
    /* margin-top: 25px; */
    margin-left: -170px;
    background-color: white;
}
.dropdown .images{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 30px;
}
.cases-sleeves .dropdown{
    display: none;
    position: absolute;
    z-index: 1 ;
    width: 130%;
    height: auto;
    padding: 20px;
    margin-left: -280px;
    background-color: white;
}

.cases-sleeves .hour-sub-menu {
    width: 60%;
    margin-left: 50px;
}
.cases-sleeves .poster-dopdown{
    width: 20%;
    height: auto;
}
.poster-dopdown img{
    width: 100%;
    height: 500px;
}

.dropdown .images a img{
    width: 70%;
}
.New_arrivals:hover .dropdown{
    display: flex;
}
.cases-sleeves:hover .dropdown{
    display: flex;
}
.dropdown .hour-sub-menu .sub-menu div a{
    border-right: none;
}
.dropdown .hour-sub-menu .sub-menu{
    width: 100%;
    display: flex;
    text-align:left ;
    justify-content: space-evenly;
    border-right: 1px solid grey;
}
.dropdown .hour-sub-menu .sub-menu div{
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
}

sup{
    color: red;
}

#mid-unit .part-1{
 width: 40%;
 margin-left: 150px;
}
#mid-unit{
    width: 100%;
    height: auto;
    /* margin-right: 150px; */
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
#mid-unit .splide{
    width: 60%;
    place-items: center;
}
.splide__track{
    width: 95%;
    height: 200px;
    margin: auto;
}

.splide__slide{
    width: 100%;
    margin: auto;
    /* border:1px solid cyan */
}

.img_box>img{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.img16{
    height: 200px;
}

#one{
    margin:20px 20px 50px 40px;
}
.navebar .nav-icon{
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    display: block;
}
.cont1{
    width: 100%;
    margin-top: 60px;
    height:25vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper {
    width: 100%;
    height: fit-content;

}
.swiper-slide>img {
width: 100%;
height: 200px;
}

button{
    margin-top: 15px;
}
.banner{
    width: 100%;
    margin-top: 30px;
}
.banner img{
    width: 100%;
    margin-top: 25px;
}
.home-btn{
    background-color: #66BB6A;
    font-size: 13px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.home-btn:hover{
    background-color: #F44336;
    color: aqua;
}
#studio{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 30px;
}
.studio_div{
    width: 32%;
    margin-bottom: 10px;
}
.studio_div img{
    width: 100%;
    height: 85%;   
}
.studio_div h3{
    margin-top: 10px;
}
#top{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 70px;
}
.top-div-name{
    width: 46%;
    margin-top: 5px;
    margin-bottom: 40px;
}
#top img{
    width: 100%;
}

#top1{
    width: 100%;
    display: flex;
    gap:20px ;
    margin-left: 45px;
    margin-bottom: 35px;
}
img{
    width: 100%;
}
.collection{
    margin-top: 100px;
    text-align: left;
    margin-left: 50px;
}
#top1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 35px;
    margin-left: 25px;
    margin-right: 25px;
}
#top1 >div{
    width: 32%;
}
#bottom{
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}
.bottom-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    padding: 60px;
}
.bottom-div h1{
    text-align: center;
    margin: 15px;
}
.bottom-div p{
    font-size: 20px;
    text-align: start;
    margin: 15px;
}
.bottom-img{
    width: 40%;
}
#percent{
    width: 100%;
}

/* ..........................................................slide show css................................... */
#slideshowCont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    height: 600px;
    background-color: black;
}

.slideBox{
    position: relative;
    width: 30%;
    height: 90%;
    border-radius: 10px;
}
.footer-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.social img{
    width: 10%;
}
.social h2{
    color: black;
    font-weight: 900;
    font-size: 26px;
}
.name_recess{
    position: absolute;
    bottom: 40px;
    left: 70px;
    font-size: 30px;
    line-height: 60px;
}
h2{
    font-family: 'Poppins', sans-serif;
    color: white; 
}
i{
    font-size: 30px;
    margin-left: 10px;
}

/* .......................................................................................................... */

#featured-in h1{
    text-align: center;
}
#get-exclusive-offers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#get-exclusive-offers h1{
    text-align: center;
    margin-top: 20px;
}
#icons{
    width: 30%;
   margin: auto;
}
#icons img{
    width: 40%;
}
.watchband-div{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.studio-name{
    margin: 20px 0px 20px 50px;
}
   #percent img{
    width: 100%;
    padding: 0px 10px;
   }


/* .....................................................   MEDIA QUERY   ............................................................. */

/* @media screen and (min-width:400px) and (max-width:900px) {

    .navbar{
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .navbar .logo{
        width: 20%;
    }

    .menu{
        display: none;
    }

    .nav-icon i{
        font-size: 30px;
    }

    .nav-icon .fa{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        font-size: 30px;
        cursor: pointer;
        display: none;
    }

    #slideshowCont{
        height:300px
    }
    
    .name_recess{
        bottom: 20px;
        left: 10px;
        font-size: 15px;
        line-height: 30px;
    }
    i{
        font-size: 15px;
        margin-left: 10px;
    }
    #mid-unit{
        width: 90%;
        margin: auto;
    }
    #mid-unit .part-1{
        margin-left: 0px;
       }
       #mid-unit .part-1 h1{
        font-size: 20px;
       }
       #mid-unit .part-1 p{
        font-size: 10px;
       }
       #mid-unit .splide{
        width: 60%;
        place-items: center;
    }
    .splide__track{
        width: 95%;
        height: 150px;
        margin: auto;
    }
    
    .splide__slide{
        width: 100%;
        margin: auto;
    }
    
    .img_box>img{
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    .img16{
        height: 150px;
    }
    .studio-name{
        margin: 20px 0px 20px 50px;
        font-size: 13px;
    }
    .studio_div img{
        height: 60%;   
    }
    .studio_div h3{
       font-size: 18px;
    }
    #studio{
        display: block;
        width: 100%;
        padding: 10px;
    }
    .studio_div{
        width: 100%;
    }
    .studio_div .home-btn{
        text-align: center;
        font-size: 15px;
    }
    #top{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bars{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 30px;
        cursor: pointer;
        display: block;
    }
    .top-div-name{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .top-div-name h3{
        font-size: 18px;
        margin-top: 10px;
    }
    .home-btn{
        font-size: 10px;
        padding: 8px;
    }
    .top-div-name .home-btn{
        font-size: 15px;
    }
    #bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bottom-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
    }
    .bottom-div h1{
        font-size: 15px;
        text-align: center;
        margin: 15px;
    }
    .bottom-div p{
        font-size: 10px;
        text-align: start;
        margin: 10px;
    }
    #icons img {
        width: 40%;
        margin-left: 10px;
    }
    footer > #get-exclusive-offers > #icons > div {
        display: block;
        align-items: center;
    }
    .bottom-img{
        width: 100%;
    }
    #studio{
        margin-bottom: 60px;
    }
} */
@media screen and (min-width: 1200px) {

    /* Add your CSS rules for large screens here */
    .navbar {
        height: 85px;
    }

    .navbar .logo {
        width: 10%;
        margin-top: 10px;
        margin-left: 5px;
    }

    .menu {
        width: 70%;
    }

    .nav-icon .fa,
    .bars {
        margin-top: 15px;
        font-size: 30px;
    }

    .dropdown,
    .cases-sleeves .dropdown {
        margin-left: -170px;
    }

    /* Add more styles for large screens */
}

/* Medium screens */
@media screen and (max-width: 1199px) and (min-width: 768px) {

    /* Add your CSS rules for medium screens here */
    .navbar {
        height: 70px;
    }

    .navbar .logo {
        width: 10%;
        margin-top: 10px;
        margin-left: 5px;
    }

    .menu {
        width: 70%;
    }

    .nav-icon .fa,
    .bars {
        margin-top: 15px;
        font-size: 30px;
    }

    .dropdown,
    .cases-sleeves .dropdown {
        margin-left: -170px;
    }

    /* Add more styles for medium screens */
}

/* Small screens */
@media screen and (max-width: 767px) {

    /* Add your CSS rules for small screens here */
    .navbar {
        height: 60px;
    }

    .navbar .logo {
        width: 10%;
        margin-top: 10px;
        margin-left: 5px;
    }

    .menu {
        width: 70%;
    }

    .nav-icon .fa,
    .bars {
        margin-top: 15px;
        font-size: 30px;
    }

    .dropdown,
    .cases-sleeves .dropdown {
        margin-left: -170px;
    }

    /* Add more styles for small screens */
}